<!DOCTYPE html>
<html>
<head>
	<title>An Uncertain Road: Life after Premature Birth</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/ur-styling.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!--Google Analytics-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-71696131-1', 'auto');
		ga('send', 'pageview');
	</script>
	

	<!--SoundCite by the Knight Lab-->
	<link href='//cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'>
	<script type='text/javascript' src='//cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>
	<!-- Facebook Open Graph -->
  	<meta property="og:title" content="An Uncertain Road: Life after Premature Birth" />
  	<meta property="og:type"   content="article" />
  	<meta property="article:author" content="https://www.facebook.com/becky.smith.1426" /> 
  	<meta property="og:image" content="http://apps.kbia.org/uncertain-road/img/william-cover.jpg" />
  	<meta property="og:description" content="A premature birth can cause weeks or even months of uncertainty in the Neonatal Intensive Care Unit (NICU), but for many families, especially those of the smallest preemies, the roller coaster of worry over their child’s health and development continues years after they are discharged from the hospital." />

  	<!-- Twitter and Slack "Card" -->
  	<meta name="author" content="Rebecca Smith" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:site" content="@kbia" />
  	<meta name="twitter:title" content="An Uncertain Road: Life after Premature Birth" />
  	<meta name="twitter:description" content="A premature birth can cause weeks or even months of uncertainty in the Neonatal Intensive Care Unit (NICU), but for many families, especially those of the smallest preemies, the roller coaster of worry over their child’s health and development continues years after they are discharged from the hospital." />
  	<meta property="twitter:image" content="http://apps.kbia.org/uncertain-road/img/william-cover.jpg" />


  	<!-- Smooth Scrolling Script -->
  	<script type="text/javascript">
  	      $(function() {
  	    $('a[href*="#"]:not([href="#"])').click(function() {
  	      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
  	        var target = $(this.hash);
  	        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  	        if (target.length) {
  	          $('html, body').animate({
  	            scrollTop: target.offset().top
  	          }, 1000);
  	          return false;
  	        }
  	      }
  	    });
  	  });
  	  </script>

</head>
<body>
<header class="kbia-top">
	<a href="http://www.kbia.org"><img class="logo" src="img/kbia-blue.png"></a>
</header>
<header id="int-nav" class="internal-nav hidden">
	<div class="center-text">
		<a class="internal-nav-item" id="four-years-internal" href="#william">
			<h1>Four Years Later</h1>
			<p>William's Story</p>
		</a>
		<a class="internal-nav-item" id="seven-years-internal" href="#twins">
			<h1>Seven Years Later</h1>
			<p>Skylee and Cauy's Story</p>
		</a>
		<a class="internal-nav-item" id="twelve-years-internal" href="#jake">
			<h1>Twelve Years Later</h1>
			<p>Jake's Story</p>
		</a>
	</div>
</header>
<progress class="top-after" value="0"></progress>
<header class="title-card">
	<div class="card-float">
		<h1>An Uncertain Road: Life after Premature Birth</h1>
		<h2 class="special-project-label">A KBIA Special Project</h2>
		<h2 class="author">by Rebecca Smith</h2>
	</div>

	<a class="logo-link" href="http://www.kbia.org"><img class="logo-right" src="img/KBIA_main_reverse.png"></a>
	<!--<img class="logo-left" src="img/se-white.png">-->

</header>

<div class="article">
	<section id="intro"><p>A premature birth can cause weeks or even months of uncertainty in the Neonatal Intensive Care Unit (NICU), but for many families, especially those of the smallest preemies, the roller coaster of worry over their child’s health and development continues years after they are discharged from the hospital.</p>
	<p>In the last 20 years, science has pushed the frontiers of neonatal care, and doctors are saving premature infants lives at younger ages, some at 22 to 26 weeks of gestation. These tiniest of infants – micro preemies – are surviving more often than ever, but rarely complication-free. Most will experience lifelong consequences in their health and development.</p>
	<p>Experts who work with premature babies every day have to weigh the question: If science can save their lives, shouldn’t it be able to ensure quality of life? Many children will do well, but most families face years of complicated decisions and expensive interventions.</p></section>	
	<section id="william">
	<header class="section-head">
		<div class="head-float">
		<h1>Four Years Later</h1>
		<div class="section-description">Growing up from 22 Weeks to four years old, facing uncertainty every step of the way.</div>
		</div>
	</header>
		<div class="container more-contained">
			<div class="boxy-callout">
					<h3>Listen to William's Story</h3>
					<span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/william-full.mp3" data-start="0" data-end="443000" data-plays="1">Click Here to Play</span>
			</div>
		</div>
		<p>William Beversdorf gleefully scrambles toward the swings as soon as his father David sets him on the ground. At four years old, William is a little small for his age and is a little unsteady on his feet, but he gets where he wants to go. And once he’s on the swing – his smile lights up his entire face.</p>
		<p>Before David begins to push the swing, he leans in close and says “Da-da?”  William looks up at his father and, in a quiet voice, replies, <span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/da-da-louder.mp3" data-start="0" data-end="4000" data-plays="1">“Da-da.”</span> David then leans in again and says “Can you say Mom? Mommy” and in a voice barely above a whisper William replies “Ma-ma.” </p>
		<p>Swing time for William is not just simple playtime. It's a way for David to encourage his son to practice language skills; the fun of swinging seems to motivate William to try new words. And he’s picking up new words every week. One of the most recent: “pretzel” — a full two syllables. This may not seem that astounding for a four-year-old, but when you consider William’s entry into the world, it is pretty remarkable that he is developing at all.</p>
		<p>William is David and Shelley Beversdorf’s first child together. The pregnancy went well until Shelley was diagnosed with placenta previa, a complication in which the placenta partially or totally covers the opening in the cervix, making an emergency delivery necessary. Instead of the typical 40 weeks of gestation, William had to come early.</p>
		<p>“It just happened immediately. Then we were thrust into this nice little room at the NICU [Neonatal Intensive Care Unit] and there we sat with him full of tubes and wires and everything else,” Shelley recalls.</p>
		<p>William was born at just 22 weeks and one day, weighing one pound, three ounces. The youngest premature infant ever known to have survived was born at 21 weeks and 6 days – two days younger than William.</p>
		<p>From his first breath, it was uncertain whether or not William would live, and if he did, what kind of life he would have.</p>
		<p>In the hospital that day, the doctors were honest. David says they told them that William had less than a five percent chance of survival and if he did make it, “he’d be messed up basically.” </p>
		<p>William weighed less than a can of soup. His eyes were glued shut. His skin was so thin that it was nearly translucent. And when David slid his wedding ring onto William’s arm, it engulfed it.</p>
		<p>The Beversdorfs felt that their son could make it, and they told the doctors to do everything possible to save him. Once he was born, a doctor inserted an endotracheal tube down his throat making it possible for him to breathe with severely underdeveloped lungs.</p>
		<p>William would spend the next five and half months in the NICU receiving medical assistance for numerous bodily functions. There were several close calls during those months like the time at about two weeks old he needed gastrointestinal surgery and David says it was “very clear he was dying.”</p>
		<p class="pull-out">“We had no idea what would be our issue going forward, but we knew there was still a bit of a minefield.”</p>
		<p>He made it through. After that, things were going smoothly, and the Beversdorfs prepared to bring their baby boy home. But the couple knew this was only the beginning of the battle. For a baby born as small as William every step into childhood, every developmental milestone would be a new challenge and a new source of uncertainty. Would their child grow up like other kids? Would he have health problems? Would he ever be able to walk or talk or go to school?  </p>
		<p>“We had no idea - we knew there were a lot of possible problems physically - was he going to end up sick? And then end up in the hospital? And then have permanent lung damage? That seemed pretty likely actually,” David said. “We had no idea what would be our issue going forward, but we knew there was still a bit of a minefield.” </p>
		<h2 id="survival-of-the-smallest">Survival Of The Smallest</h2>
		<p>Not every hospital would have encouraged William’s parents to try and save him.</p>
		<p>Neonatal rapidly improved in the last 25 or so years, regularly saving the lives of more infants born before 28 weeks of gestation. But, by current standards, 22 weeks is the youngest a baby can be born and have <em>any</em> chance of survival. There’s a lack of consensus among academics and medical professionals about how good those chances of survival are.</p>
		<p>“At 22 weeks, they have a less than 10 percent chance of surviving,” says John Pardalos, a neonatologist at University of Missouri Women’s and Children’s Hospital in Mid-Missouri.</p>
		<p>George Macones, a high risk obstetrician and the head of the March of Dimes Research Center at Washington University in St. Louis, says he would tell a family that the chance of survival at 22 weeks would be “zero.”</p>
		<p>This disagreement comes because there’s little statistically significant data at this gestational age; babies born at 22 weeks have not been surviving for very long, and not in great enough numbers to gather effective data.</p>
		<p>Even for those who do survive, there’s a high risk of serious, life-altering complications that affect quality of life.</p>
		<p>These are what the Beversdorf’s doctor warned them about. Micro preemies, or babies born before 26 weeks of gestation, have very underdeveloped brains, and the complications of keeping them alive lead to a high risk of bleeding in the brain that can result in cerebral palsy and other developmental disabilities.</p>
		<p>Prematurity can also lead to vision impairment or blindness, and is tied to higher rates of developmental delays or impaired cognitive skills, hearing impairments, problems with teeth, behavioral disorders like ADHD or anxiety, developmental disorders like autism and other chronic health issues.</p>
		<p>Research has demonstrated that the earlier an infant is born, the higher risk there is for these problems. Because of this, not all hospitals will try everything possible to save a baby’s life when it is delivered at 22 weeks or under — a process known as active intervention. A study published by the New England Jornal of Medicine said just over one in five of the hospitals in the study actively intervened at this gestational age.</p>
		<p>Both the American Academy of Pediatrics and the American Congress of Obstetricians and Gynecologists recommend that doctors and parents make decisions on a case-by-case basis when babies are born this early. According to the same study, active intervention is generally not recommended for babies born before 22 weeks.</p>
		<p>When doctors do actively intervene, using state-of-the-art treatments like surfactant therapy to help the lungs function, ventilator support, and a number of other interventions, survival rates are as high as 23 percent according the same study. Without active intervention, just 5.1 percent of infants born at 22 weeks of gestation survived.</p>
		<p>Over the last 20 years, survival rates have improved for preemies of all ages. But even though more babies are surviving, the rates of severe complications are still high. For the smallest of preemies, those born at 22 to 24 weeks, rates of survival without severe health and developmental disabilities have not improved significantly, according to a 2015 article in JAMA.</p>
		<p>Of 334 infants born with less than 22 weeks of gestation that were studied in the article, zero left the NICU without severe complications.</p>
		<h2 id="no-stone-unturned">No Stone Unturned</h2>
		<p>William was relatively lucky. In the early weeks at the NICU, he only dealt with a few serious complications. At two weeks old be had a low-grade brain bleed and abdominal issues that turned him grey and required gastrointestinal surgery.</p>
		<p>It could have been much worse. Other than those few nail-biting events, William didn’t experience some of the extremely damaging events, such as severe infections, sepsis, severe hemorrhages, lung problems and retinopathy of prematurity that can affect a baby’s life later down the road.</p>
		<p>When they brought him home from the NICU, William was physically healthy, exceptionally so for a micro preemie. As a toddler, other than a few colds, he didn’t show any long-term physical complications of the NICU except for missing the finger tips on his left hand, though it doesn’t seem to affect his dexterity.</p>
		<p>They learned, as many parents of micro preemies do, that William’s chance of developmental success is no more certain now that he’s home from the hospital than his chance of survival was in the NICU. How well he will develop, whether he will ever speak, read or go to school depends partially on the interventions and therapies the Beversdorfs take him to and partially on William’s response to these treatments.</p>
		<p>Not long after he got out of the hospital they took him to a development clinic that specializes in children born prematurely. It was at that clinic that William was diagnosed with autism. They prepared themselves for the fact that various milestones might be slow in coming, or never come.</p>
		<p>“When he first started walking, we were thrilled. It was late. Not monstrously late,” says David. “[Then] we started speaking a little bit and we were really excited, and then that was kind of much slower.”</p>
		<p>William’s language skills are delayed, but at three he started using what David calls “meaningful consonants” and within the last few months he has added a few words to his vocabulary.</p>
		<div class="img-contain">
			<img class="part-across" src="img/william-window.jpg">
			<p class="caption">Rebecca Smith / KBIA News</p>
		</div>
		<p>Shelley Beversdorf says caring for William has become a “full time job,” as she and David try to do everything they can to help William catch up developmentally. They take him from different therapies to doctors’ visits to horseback riding to gymnastics to language school to a church daycare, all while raising William’s little sister as well.</p>
		<p>“I don’t know what to expect there. Nobody knows what to expect,” David said. “We&rsquo;re just going to keep giving him everything to try and maximize his chances.” </p>
		<p>Tracy Stroud, a developmental behavioral pediatrician at the Thompson Center for Autism, oversees the development clinic William goes to for regular therapy. The clinic includes a speech pathologist, an occupational therapist, a physical therapist, a nutritionist and a nurse practitioner.</p>
		<p>Stroud sees many children who were born prematurely – a group she calls “at risk” for developmental disabilities.</p>
		<p>She says the clinic looks at head growth, head shape, MRI readings, and tries to identify subtle signs of developmental abnormalities early on so they can change the course of a developmental delay or diagnose a serious condition before it gets worse. She adds that no two preemies have the same trajectory, and therapies can play an important role in later life success.</p>
		<p>"There are clearly babies that have lifelong struggles from being born premature,” Stroud says. However, she also notes that “for many of the babies, they do really really well.” </p>
		<h2 id="onward-into-the-unknown">Onward into the Unknown</h2>
		<p>The costs of all these classes and therapies add up, even with good insurance coverage.</p>
		<p>“We could rent a small apartment for the amount that we&rsquo;re having to go out of pocket on the copays,” David said. “It’s a real problem.”</p>
		<p>While the Beversdorfs try to give William as many tools as possible to succeed, David said they don’t set goals for him.</p>
		<p class="pull-out">“We could rent a small apartment for the amount that we&rsquo;re having to go out of pocket on the copays. It’s a real problem.”</p>
		<p>“[He’s] going to do what he’s going to do, and that’s a really healthier attitude for any child,” David said. “To just help them do what it is they want to do as much as possible.” </p>
		<p>Now four years old, William is continuing to make gains. He is still on the autism spectrum, and doesn’t spontaneous interact with others the way many other children his age do.</p>
		<p>But the Beversdorfs have begun to look at starting school prep for kindergarten, something they didn’t dare dream of in those early months in the NICU.</p>
		<p>“At the beginning, you went from ‘Hey, he’s gonna be such a smart kid’ to ‘I hope he survives somehow,’” David said. “So now you&rsquo;re back to saying, ‘Maybe we can maximize some cool stuff and maybe we&rsquo;ll have to struggle with something.’ Maybe he’s not going to be a skilled athlete, but really good at something else.” </p>
	</section>
	<section id="twins">
		<header class="section-head">
			<div class="head-float">
			<h1>Seven Years Later</h1>
			<div class="section-description">Twins Skylee and Cauy were born at the same time. Their lives took vastly different turns.</div>
			</div>
		</header>
		<div class="container more-contained">
			<div class="boxy-callout">
					<h3>Listen to Skylee and Cauy's Story</h3>
					<span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/twins-full.mp3" data-start="0" data-end="443000" data-plays="1">Click Here to Play</span>
			</div>
		</div>
		<p>When Shanna Mondy started feeling labor pains at just under 24 weeks into her first pregnancy, she had no idea what to expect.</p>
		<p>“We didn’t do any classes,” her husband Rob Mondy recalls, “because, at 24 weeks, we didn’t think we needed it at that time.”</p>
		<p>The Mondys went to the hospital right away and the doctors were able to prevent the labor for a few days, but the Mondy twins arrived at just 24 weeks and one day. Cauy, a boy, was born at one pound, six ounces and a few minutes later, Skylee, a girl, at one pound, five ounces.</p>
		<p>“I just remember freaking out because I didn’t have anything to take them home [in],” Shanna recalled. “And they were like ‘They're not going home anytime soon.’”</p>
		<p>At first, things looked ok for both infants, even though Cauy was born with severe brain hemorrhages. Then at three weeks, Cauy developed a yeast infection and meningitis. Skylee seemed stable, but they weren’t sure Cauy was even going to make it.</p>
		<p>Shanna and Rob remember those four and a half months in the NICU as a roller coaster of good and bad health events – one step forward and a few steps back. What they didn’t know then was that, for Cauy, the NICU was just the beginning of his journey. His medical complications very early in life would have a lasting impact.</p>
		<p>His twin sister Skylee’s first few months in the NICU were free of most major issues, and this would put the children, born within minutes of each other, on vastly different life trajectories.</p>
		<p>Premature birth—especially under 24 weeks—puts children at high risk for many long-term, life-altering complications. But there is great disparity in outcomes for children born prematurely—their long-term health is hard to predict or control in the first few weeks of life. This puts parents and doctors in the difficult position of working to save a life, while knowing that the child they save may face years—or even a whole lifetime of medical, practical and financial difficulties.</p>
		<h2 id="life-back-home-diverging-paths">Life Back Home: Diverging Paths</h2>
		<p>Within a year, the differences between their children started to become obvious to the Mondys. For the first few years post-NICU, Skylee never needed to go back to the hospital, but Cauy had many health crises. Within just a couple of years he had several shunt revisions, which is an invasive procedure placing a tube in the head to help drain off excess brain fluid.</p>
		<p>He wasn’t hitting the developmental milestones his sister was.</p>
		<p>“Skylee was rolling, crawling, walking,” Rob recalls. “And [Cauy] was just lying there.”</p>
		<p>He couldn’t even sit up, and while his sister started babbling, making eye contact and eventually talking, Cauy didn’t develop as quickly. The Mondys still didn’t know what was wrong with their son.</p>
		<p>Finally, when Cauy was two years old, they decided that being a “preemie” wasn’t enough of a diagnosis. They needed answers, so they got a referral to a clinic that specialized in cerebral palsy.</p>
		<p>“I remember getting a paper and it had all this information on it, and it says ‘Diagnosis.’ It says ‘Cerebral Palsy,’” Shanna recalled.</p>
		<p class="pull-out">"Maybe a goal is for him to crawl now instead of walk. Maybe a goal is now to be able to use a button instead of speaking."</p>
		<p>Despite the severity of the news, the Mondys said it felt “like Christmas” for them. For the first time, they understood what was going on with their child. With the diagnosis in hand, they could start to help him, getting him a wheelchair, appointments for therapies and custom orthotics. They were finally able to set realistic goals for him.</p>
		<p>“At the time, we wanted him to walk before he could crawl. We wanted him to speak. We wanted him to be able to play,” Rob says.</p>
		<p>“Maybe a goal is for him to crawl now instead of walk. Maybe a goal is now to be able to use a button [to communicate] instead of speaking. We weren't living in a fantasy world anymore.”</p>
		<p>Chances have improved for babies born at 24 weeks or later over the past few decades; there is now a nearly 50 percent chance of survival. This is thanks to new technologies and therapies including better ventilators and surfactant therapy, a way of coating the babies’ lung with a substance that makes it easier to breathe.</p>
		<div class="img-contain">
			<img class="part-across" src="img/twins-diverging-paths.jpg">
			<p class="caption">Photo provided.</p>
		</div>
		<p>But as this technology saves more lives, it hasn’t significantly improved the chances for babies born at this age or younger to grow up without serious impairment.</p>
		<p>About 45 percent of babies born at 24 weeks will grow up with serious disabilities, according to a 2015 study published in the New England Journal of Medicine. These “severe impairments” could be life in a wheelchair due to severe cerebral palsy, blindness or severe hearing impairment. Thirty percent will grow up with milder problems, moderate forms of cerebral palsy effecting motor skills, cognitive skills, and other neurological problems like ADHD, autism or learning disabilities.</p>
		<h2 id="life-moves-on">Life Moves On</h2>
		<p>At seven, five years after his cerebral palsy diagnosis, Cauy is a social guy who’s always smiling. But he cannot walk, cannot talk and continues to have some health problems. After his early years of multiple doctors’ visits every month, Shanna says things are starting to level out a bit, and Cauy only sees most of his doctors every six months to a year.</p>
		<p>Skylee is a busy seven-year-old girl. She participates in Girl Scouts, takes dance and gymnastics, plays soccer and does CrossFit with her parents. She’s a little small for her age, but shows no other repercussions of her pre-term birth.</p>
		<p>The Mondys say that while physically and developmentally being a preemie hasn’t really affected Skylee, her life is different because she and Cauy were born at 24 weeks.</p>
		<p>“She lives it. She knows it. She knows there are certain things we can’t do because we’re saving for another piece of equipment [for Cauy],” Rob says.</p>
		<p>Rob and Shanna say both their children are a joy. But they admit that Cauy’s needs can be a financial struggle for the family.</p>
		<p>There are a lot of expenses when you’re raising a disabled child, things like pricey medications—Cauy takes one that costs $12,000 a month—formula for sustenance and specialized equipment like a wheelchair accessible van that costs $20,000. Rob gets frustrated at these costs, which seem unnecessarily high, especially because insurance doesn’t cover everything.</p>
		<p>&ldquo;There is no reason for a stroller to cost $10,000,” Rob says. “It’s not fair, and then people don’t see that sometimes that is money that we have to take out of our pocket. They see the equipment that we have and they just assume that everything is paid for.”</p>
		<p>Insurance covers part of the costs, and there are a few agencies that help with the bigger and more expensive items they need for Cauy, but even with insurance, meeting the necessary deductibles can be difficult for the family. Rob says they often meet their deductible within the first month and a half of the year, but “if we don't have that extra amount of money just laying around, it can be difficult to meet.”</p>
		<p>According to the Centers for Disease Control and Prevention, the average lifetime cost to care for a person diagnosed with cerebral palsy is nearly $1 million.</p>
		<h2 id="looking-toward-the-future">Looking Toward the Future</h2>
		<p>For Shanna, it’s the very long-term implication of Cauy’s premature birth that worry her the most.</p>
		<p>She knows when they get ready to retire, they can’t travel the world and leave their son behind. She worries about who is going to take care of Cauy once they can’t.</p>
		<p>“We have to think about what’s going to happen when we die, and it’s just a lot of hard decisions,” she says.</p>
		<p>For Shanna, it can be difficult to imagine what the future may hold.</p>
		<p><span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/twins-imagine.mp3" data-start="0" data-end="20000" data-plays="1">“If you said ‘What do you think he's going to be like in 15 years?’ This is what I see,” she says gesturing toward Cauy. “I can't imagine him talking. I can't imagine him walking...I cannot - in my head - imagine him saying words. I couldn't even imagine what it would sound like. I probably would cry, I think I'm going to cry now just thinking about it.”</span></p>
		<p>But Shanna says they're used to the way things are, and they plan to carry on how they have for the past seven-plus years – balancing Skylee’s busy social calendar, Cauy’s needs and fun family activities, like CrossFit.</p>
		<p>Like any family, they have their milestones. Skylee recently received a favorite birthday present: a diary with a lock, and Cauy is getting a new wheelchair that lets him maneuver himself up and down the hallways – giving him a taste of independence.</p>
		<p>Both Shanna and Rob say they wouldn’t change a thing, but they do sometimes wonder how their lives would be different if the twins had been born full-term and perfectly healthy.</p>
		<p>“I figure he'll just be bigger, taller, but I feel like we’ll still be doing the same thing.” Shanna says. “I feel like we're at a point where we're good, you know, we're not having emergencies. We're good. This is life.”</p>
		<h2 id="medical-progress">Medical Progress</h2>
		<p>As new technologies have helped raise the survival rates of babies born extremely prematurely, it hasn’t significantly improved the chances for babies to grow up without serious impairment.</p>
		<p>These outcomes have led some neonatologists and other medical professionals to question the definition of survival for these micro preemies born long before their due dates and if intensive medical intervention is always the best choice given continued medical needs, specialized care and expenses to their families and society.</p>
		<p>One article published by the American Academy of Pediatrics in 2006 calls the use of neonatal intensive care on infants born before 27 weeks of gestation a “fundamental controversy in neonatology.”</p>
		<p>“As more of these babies are surviving now, we are creating a generation of babies that will need more help in elementary school and in high school because of the learning issues that they might have or the physical disabilities they might need to overcome when they get older,” says John Pardalos, a neonatologist at University of Missouri Women’s and Children’s Hospital in Mid-Missouri.</p>
		<p class="pull-out">One article published by the American Academy of Pediatrics in 2006 calls the use of neonatal intensive care on infants born before 27 weeks of gestation a "fundamental controversy."</p>
		<p>Pardalos says that in most cases, the choice to save a preemie’s life is the parents’ decision, with information provided by their doctors, but it’s terribly hard to predict outcomes or advise parents, because no two infants have the same trajectory.</p>
		<p>“Yes, I think we are creating more disabled kids, but I think we also have a lot of kids that are completely normal, even though they started little, and are full, participating humans in our society 20, 30, 40 years down the road,” says Pardalos. “So it's hard for me to say ‘You're going to be great and you’re not.’ We just have to take the chances and treat everyone like they will be able to survive and do well on their own in the future.”</p>
		<p>So while more babies are being born with long term complications of some sorts, what motivates some doctors in the field is the thought that medical progress is still happening.</p>
		<p>George Macones, a high-risk obstetrician and the head researcher for the March of Dimes Research Center at Washington University in St. Louis, says neonatal care is following the normal progression of research: Medicine focuses on saving patients first, then bettering their outcomes.</p>
		<p>“Everything is in steps,” Macones says. “First is survival and then we try to work on survival without any complications. [It’s] the same as cancer - the first thing you want to do is get people to survive, the second thing you want to do is make sure they're not sick for the rest of their life from their radiation treatment that they got. I think the same is true for prematurity.”</p>
		<p>But he says the stakes for premature infants may be even higher than for some other conditions.</p>
		<p>“If you are 65 and you have cancer and you have 15 years left to live, that is a lot different than the complications you see in a baby that's born that's going to have a 75-year lifespan - that's going to have a whole lifetime of disability and problems,” Macones says. “So I think the stakes are higher for us, which is why you know we are all working so hard to make some progress.”</p>
	</section>
	<section id="jake">
		<header class="section-head">
			<div class="head-float">
			<h1>12 Years Later</h1>
			<div class="section-description">A preteen and his parents still live with fears of the future.</div>
			</div>
		</header>
		<div class="container more-contained">
			<div class="boxy-callout">
					<h3>Listen to Jake's Story</h3>
					<span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/jake-full.mp3" data-start="0" data-end="443000" data-plays="1">Click Here to Play</span>
			</div>
		</div>
		<p>My Aunt Carolyn and I have always been close. She chose to call me her “princess” when I was a child, even though I was very far from it. I was a tomboy and she was one of the only people who could catch me and brush my hair. Needless to say, I was incredibly excited when she became pregnant with her first child in 2003—I was ready for a baby “prince” or “princess” cousin to call my own.</p>
		<h2 id="unexpected-arrival">Unexpected Arrival</h2>
		<p>Carolyn and my Uncle Vince Allred, live in St. Louis, Missouri. In 2003, they were still newlyweds and excited about their futures: Carolyn was working her dream job as a neonatal nurse, Vince was back in school and they were expecting their first child.</p>
		<p>But on September 18, 2003 – at just 25 weeks and five days into her pregnancy - things took an unexpected turn. Carolyn went into pre-term labor.</p>
		<p>“On the trip, I cried the whole time, screaming ‘My baby&rsquo;s dead. My baby&rsquo;s dead,’” Carolyn says. “It wasn’t until I got there and I heard the heartbeat again that I knew that he was still with us.” </p>
		<p>While their son, Jacob Allred, was still alive, there was no stopping it. Jake was born at just 25 weeks and five days at one pound and thirteen ounces. So small that his tiny footprints fit on a standard business card. To this day, my Dad, Carolyn’s second oldest brother, carries “Jake’s Business Card” in his wallet.</p>
		<h2 id="a-rough-start">A Rough Start</h2>
		<p>Jake was born so unexpectedly that there was no time for Carolyn to recieve pre-labor steroids, which could have reduced Jake’s chances for complications. He spent the next four months in the NICU.</p>
		<p>When he was around two weeks old, Jake developed an isolated staph infection, and his condition became critical. Carolyn and Vince were told they should come to the hospital and say goodbye, but, somehow, Jake managed to recover.</p>
		<p>Carolyn says that, to this day, she tells Jake the story every year on October 1, the anniversary of his survival.</p>
		<p>“It’s his favorite story to hear," Carolyn says, "because he lived, and he did good. Did we expect him to do that? No. We didn’t know at the beginning of that day what was going to happen, and we were really OK with him dying.” </p>
		<p>During Jake’s four month stint in the NICU, Carolyn and Vince celebrated every week with Jake, since they weren’t sure how long he would be with them. Each week, for his “weekly birthday,” the Allreds would bring him a new Teenie Beanie Baby to put by his incubator. Vince adds the uncertainty of Jake’s health during that time was an emotional roller coaster. But finally there was a turning point.</p>
		<p>“I think it was about two and a half months into the NICU stay that [we] thought ‘Man, he&rsquo;s doing alright. He&rsquo;s going to make it’,” he says.</p>
		<h2 id="growing-up-with-uncertainty-and-hope">Growing up with Uncertainty and Hope</h2>
		<p>For Carolyn, the first four months were especially terrifying because she had been working in the NICU as a nurse for just over a year. She says she knew just enough to be “lethal to myself.” One thing she was clear on: The chances were great for extremely premature babies, like Jake, to have lifelong health complications that affected their entire lives.</p>
		<p class="pull-out">“I remember back then my number one worry wasn’t death; it was having a baby with no quality of life.”</p>
		<p>In 2003, the survival rates were just over 50 percent babies born at Jake’s age.</p>
		<p>“I remember back then my number one worry wasn’t death; it was having a baby with no quality of life,” Carolyn says. “I was overwhelmed with worry, guilt...that he wasn’t going to have the quality of life that I want my child to have."</p>
		<p>She had to keep living with that fear, even after Jake was discharged and they took him home. Carolyn calls the first few years of Jake’s life “one medical extravaganza after another.” </p>
		<p>At nine months old, Jake had aspiration pneumonia, where fluids collect in the lungs instead of the esophagus and stomach. At 11 months, Jake was experiencing congestive heart failure from an unclosed blood vessel. During his first year he had multiple ear surgeries, and by two, he had shingles and such severe constipation that he stopped digesting food.</p>
		<p>“We didn’t know what the future was going to hold at that point,” Carolyn says.</p>
		<div class="img-contain">
			<img class="part-across" src="img/jake-bus.jpg">
			<p class="caption">Photo provided.</p>
		</div>
		<p>John Pardalos, a neonatologist in Mid-Missouri says it is very common for parents of premature and extremely premature children to have these fears while they are in the NICU and even beyond it. Pardalos often speaks with parents about their babies’ potential outcomes and says parents tend to ask “Will my child be able to walk? Will my child be able to care of his or herself? Will they go elementary school? High school? College?” </p>
		<p>And since babies born premature can have vastly different outcomes – he can never give a definite “yes.” </p>
		<h2 id="looking-forward-to-the-future">Looking Forward to the Future</h2>
		<p>After those first few years, the medical issues became less serious, but they never stopped. Ear and eye surgeries continued, he had to go to therapies for behavior and development, and Jake got braces at a young age to fix the shape of his pallet. He was diagnosed with autism. There was some hearing loss, and he had abundant sensory issues. For years, he only ate and drank while in the bath.</p>
		<p>“[You] have to modify the world to fit their son or daughter,” Carolyn says. “Like with Jacob, he would not - at 18 months - drink anything at all. My Mom actually gave him Diet Coke one day, and he guzzled it, and we were so excited. He drank Diet Coke from 18 months to three years because that&rsquo;s the only liquid that he would drink.” </p>
		<p>But now, 12 years later, even with some health and developmental issues, Jake is pretty happy. He’s quick to laugh, and his laugh is both infectious and booming. Jake and I are pretty close, and, in celebration of his 12th birthday, I registered us to do his first 5k – a nighttime color run.</p>
		<p class="pull-out">Jake has discussed his premature birth with his parents. He knows he’s different.</p>
		<p>Jake knows he was born extremely prematurely. He has discussed it with his parents and listened to their yearly retelling of his survival. He knows he’s different.</p>
		<p>“My brain will never be like anybody else’s. Like a normal human being’s would be,” Jake says, “I face social issues. If I don&rsquo;t understand something and I really want to know, but I still don&rsquo;t understand it, I kind of get a little anxious.”</p>
		<p>Carolyn says he’s right. His big issues are social – knowing he’s different and wanting to fit in, but not knowing how.</p>
		<p>A study published the Journal of Pediatric Nursing in 2009 examined kids who were 12 - Jake’s current age. Researchers followed up with babies born prematurely at that age, and the study found that being a preemie still affects a child’s health as they reach adolescence at 12.</p>
		<p>When compared to infants born prematurely, babies born full-term were 90 percent less likely to have “abnormal health” at 12 years-old.</p>
		<p>“To this day, there are repercussions of the things that have happened to him because of being born early,” Vince says.</p>
		<p>It’s hard for Vince and Carolyn to watch Jake struggle, especially with social issues, which could affect his chances of being successful as an adult.</p>
		<p>While he is at grade level for nearly everything academic at school, he is just now making his first real friend. He struggles to fit in, even at family functions. Instead of being engaged with others the whole time, he needs to sit by himself and listen to music so he doesn’t become overwhelmed.</p>
		<p>Jake still deals with absence seizures, where he stares off into space, unaware of what is going on around him and unable to hear or react to people when they call him, which can make school challenging.</p>
		<p>Carolyn and Vince say it’s nearly impossible for them to know which health issue is causing him not to acknowledge them.  </p>
		<p>“We still can’t tell you if he&rsquo;s seizing. We&rsquo;ve never seen one [a seizure] to say that’s 100 percent a seizure,” Carolyn says. “Is it the hearing deficit? Is it the autism? Or is he having a seizure? … Is he just being a 12 year old that is being a snot or does he really just not hear us?”</p>
		<p>But Carolyn says it’s OK. They have learned to adjust to the complications that she believes are a consequence of Jake’s premature birth. She says that, in her opinion, if Jake hadn’t been born extremely premature he would have “a heck of a lot less issues today.” </p>
		<p>Jake's wish on his 12th birthday was for everyone to have an <span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/jake-awesome.mp3" data-start="0" data-end="13000" data-plays="1">“awesome day"</span> at his birthday party, which was going to include apple picking, pig races and a haunted hayride. But when we spoke about the next year of his life, Jake’s wish was a little more serious. It was about his seizure condition.</p>
		<p><span class="soundcite" data-url="http://media.kbia.org.s3.amazonaws.com/2016/may/uncertain-road/jake-seizure-01.mp3" data-start="0" data-end="17000" data-plays="1">“It's probably uncontrollable,” Jake says. “I just hope for it to reduce a little bit. Just that I don’t seize as much as I do now.” </span></p>
		<p>Carolyn says that the Allred family is “totally dedicated” to Jake being included in everything, and they all support him and are prepared for the road ahead and the challenges that may arise.</p>
		<p>Will Jake’s seizures reduce? Will Jake be able to get a driver’s license? Will Jake go to college?</p>
		<p>Carolyn says she isn't concerned, because no matter what the future holds, and no matter what obstacles Jake will face, the Allreds are ready for whatever may be thrown their way.</p>
		<p>“He has a future,” Carolyn says. “Who knows what that&rsquo;s going to be, but, you know, I think he’s going to be a productive citizen in society.” </p>
	</section>
	<div class="container more-contained" style="margin-top:2em;">
		<div class="boxy-callout callout-room-ghost">
				<h2>Help Others Find This Story</h2>
				<a class="ghost-button ghost-button-fill" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//apps.kbia.org/uncertain-road/" target="_blank">Share on Facebook</a>
		</div>
	</div>
</div>
	<footer>
		<div class="container-fluid">
			<hr />
			<cite>Copyright 2016 KBIA Public Radio. Designed and Developed by Nathan Lawrence.</cite>
		</div>
	</footer>
</body>
</html>