header.internal-nav{
	position:fixed;
	z-index: 95;
	top:50px;
	// height:70px;
	width:100%;
	background-color: #fff;
	border-bottom:1px solid lighten(black,90%); 

	div.center-text{
		.container;

		.internal-nav-item{
			box-sizing:border-box;
			width:33%;
			padding-right: 1em;
			float:left;

			text-align: center;

			&:hover{
				text-decoration: none;

				h1{
					text-decoration:underline;
				}

				p{
					text-decoration: none;
				}
			}



			h1{
				margin-top:8px;
				margin-bottom:8px;
				font-size: 1em;
				color:#222;
				font-weight: bold;
			}

			p{
				font-size: 1em;
				color:#222;
			}

		}

	}
}

progress.int-nav-after{
	height:4px;
}