header.title-card{

	width:100%;
	text-align: center;

	color: #eee;
	background-color: #eee;

	background-image: url("../img/william-cover.jpg");
    background-size : cover;
    background-position: center;
    background-blend-mode: multiply;

    margin-bottom:2em;



	.card-float{
		.container;
		position:relative;
		top:50%;
		transform:translateY(-70%);

		font-kerning: normal;

		@media screen and (max-width: @screen-md){
			transform:translateY(-60%);
		}



		h1{

			text-shadow: 1px 1px 30px #222;
		
			font-size:5em;
			margin-top:0px;
			padding-top:5%;

			.fade-in-page-load(1s,0s);

			span.respace{
				letter-spacing: 0.05em;
			}

			@media screen and (max-width: @screen-sm){
				padding-top:2em;
				font-size: 3em;
			}
		}

		h2{

			.fade-in-page-load(1s,0s); 

			margin-top:0px;
			font-size:3em;
		}

		h2.special-project-label{
			font-weight:100;

			@media screen and (max-width: @screen-sm){
				font-size:1.5em;
				pading-top:1em;
			}
		}

		h2.author{
			font-size: 2.5em;

			@media screen and (max-width: @screen-sm){
				font-size:1.5em;
				pading-top:1em;
			}
		}
	}

	img.logo-right{
		position:absolute;
		bottom:0;
		right:0;
		padding-right:3em;
		padding-bottom:3em;
		width:300px;

		@media screen and (max-width: @screen-md){
			.hidden;
		}
	}
	img.logo-left{
		position:absolute;
		bottom:0;
		left:0;
		padding-left:3em;
		padding-bottom:3em;
		width:300px;

		@media screen and (max-width: @screen-md){
			.hidden;
		}
	}	
}

body{
	display:block;

}


.article{

	margin-bottom:3em;

	section{

		color:#111;


		header.section-head{
			color:#eee;
			width:100%;
			background-color:#555;
			position:relative;

			margin-top: 3em;

			margin-bottom:1em;

		    background-size : cover;
		    background-position: center;

			@media screen and (min-width: @screen-md){
				height: 750px;

				div.head-float{
					padding-top:450px;
				}
			}

			@media screen and (max-width: @screen-md){
				height: 600px;

				div.head-float{
					padding-top:0px;
				}
			}


			div.head-float{

			}


			h1{
				padding-bottom:0em;
				margin-bottom:0em;

				font-size:4em;

				&:after{
					border-color:#eee;
					border:none;
				}
			}

			div.section-description{
				.container;
				.more-contained;
				padding-bottom:1em;

				font-size:1.3em;

				font-weight:100;

				&:after{
					width:120px;
					padding-top:16px;
	    			border-bottom:4px solid #eee;
				}
			}
		}


		h1,h2{
			.container;
			.more-contained;

			padding-top: 1em;
			padding-bottom: 0.5em;
			font-size: 2.5em;
			font-weight: bold;

			&:after{
				width:80px;
				padding-top:12px;
    			border-bottom:4px solid @brand-primary;
			}
		}


		// Uncomment this h2 when you're not dividing using image headers.
		// h2{
		// 	.container;
		// 	.more-contained;
		// 	font-size: 2.2em;
		// 	padding-top: 1em;
		// 	padding-bottom: 0.5em;
		// }

		div.img-contain{
			.container;
			.more-contained;

			margin-bottom: 1em;
			margin-top: 1em;

			img{
				max-width:100%;
			}

			p.caption{
				margin-top: 0.5rem;
				padding-left:0;
				padding-right:0;
			}

		}

		p{
			.container;
			.more-contained;


		}

		.disclaimer{
			font-style:italic;
		}

		img.full-across{
			padding-top:1em;
			padding-bottom: 5px;
			width:100%;
		}

		p.caption.full-across{
			text-align:right;
		}

	}

}

.more-contained{
	padding-left:100px;
	padding-right:100px;

	@media screen and (max-width: @screen-md){
		padding-left:15px;
		padding-right:15px;
	}
}

div.boxy-callout{
	margin-bottom:2em;
	margin-right:3em;
	padding-bottom:1em;
}

div.boxy-callout-narrow{
	width:100px;
}

div.callout-room-ghost{
	margin-top:1em;
	padding-bottom:2em;
}


section#william{

	header.section-head{
		background-color: #666;
		background-blend-mode: multiply;
		background-image: url("../img/william-snack.jpg");
	}

}

section#twins{

	header.section-head{
		background-color: #666;
		background-blend-mode: multiply;
		background-image: url("../img/twins-family.jpg");
	}

}

section#jake{
	header.section-head{
		background-color: #666;
		background-blend-mode: multiply;
		background-image: url("../img/jake-float.jpg");
	}
}






